

<h1> Reset Password</h1>
<div 
    class="p-2 mx-auto w-full sm:w-1/2 text-left
            "
> 
    <form
        id="signUpForm"
        method="POST"
        action="/users/resetPassword"
        class="space-y-2"
    >

        <div 
            class="flex flex-col text-[0.7rem] space-y-[2px] capitalize"
        >
            <label for="newPassword">new password:</label>
            <input 
                id="newPassword"
                name="newPassword"
                type="password" 
                required
                placeholder="Enter Password"
                class="border-2 border-blue-500/50 outline-none p-1 rounded-md"
            />
        </div>

        <div 
            class="flex flex-col text-[0.7rem] space-y-[2px] capitalize"
        >
            <label for="newConfirmPassword">Confirm Password :</label>
            <input 
                id="newConfirmPassword"
                name="newConfirmPassword"
                type="password"
                required
                placeholder="Confirm Password"
                class="border-2 border-blue-500/50 outline-none p-1 rounded-md"
            />
        </div>

        <button type="submit" class="w-full bg-black text-[0.7rem] text-white rounded-md py-1">
            Reset
        </button>

    </form>
</div>